@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Mali:wght@400;500&display=swap');

html, body {
  font-family: 'Mali', cursive;
  background-image: linear-gradient(to bottom, #eadbf0, #e2d5f0, #d8cff1, #cccaf1, #bec6f2, #adbaf1, #9aaef0, #85a3ef, #718ceb, #6274e4, #595adb, #563dcf);
  min-height: 100vh;
}

.App {
  text-align: center;
}

